.vst-logo{
    width:300%;
    max-width:300px;

}

.modal-xl{
    max-width: 1200px;
}

.status #statusText {
    background-color: inherit;
    color: inherit;
}

.pending-status #statusText {
    background-color: rgba(225, 146, 20, 0.5); /* Adjust the last value (0.1) to set the opacity */
    padding: 5px;
    text-transform: uppercase;
}

.forApproval-status #statusText {
    background-color: #00bae865; /* Adjust the last value (0.1) to set the opacity */
    padding: 5px;
    text-transform: uppercase;
}

.approved-status #statusText {
    background-color: rgb(0, 131, 0, 0.5);
    text-transform: uppercase;
    padding: 5px;
}

.rejected-status #statusText {
    background-color: rgb(255, 0, 0, 0.5);
    padding: 5px;
    text-transform: uppercase;
}


  #implementation-datatable{
    width: 100% !important;
  }